/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* custom styles */
/*about page - hero section styles*/
.full-container{
    max-width:100%;
    background:url("../hero/blog_hero.jpg") no-repeat;
    height: 300px;
    /* border:2px solid grey; */
}
.flex-box{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.about-hero .heading{
    color:white;
    font-size:50px;
    /* border:2px solid green; */
}

/*about page - trust section styles*/
/* articles page styles */
.blog-articles-section{
   
    /* border:2px solid green; */
    background-color:#ffffff;
}
.blog-article{
    padding-top:100px;
}
.article-img-1{
    /* max-width:100%; */
    background: url("../blog/blog_1.png") no-repeat;
    background-size:cover;
    height:400px;
    background-position: center;
}
.article-img-2{
    /* max-width:100%; */
    background: url("../blog/blog_2.png") no-repeat;
    background-size:cover;
    height:400px;
    background-position: center;
}
.article-img-3{
    /* max-width:100%; */
    background: url("../blog/blog_3.png") no-repeat;
    background-size:cover;
    height:400px;
    background-position: center;
}
.article-img-4{
    /* max-width:100%; */
    background: url("../blog/blog_4.png") no-repeat;
    background-size:cover;
    height:400px;
    background-position: center;
}
.article-img-5{
    /* max-width:100%; */
    background: url("../blog/blog_5.png") no-repeat;
    background-size:cover;
    height:400px;
    background-position: center;
}
.article-common{
    box-shadow: 0px 5px 10px 4px rgb(240, 240, 240);
}
.date-banner{
    width:50px;
    height:50px;
    background-color: #fd656b;
    color:white;
    padding:20px 20px;
    border-radius: 5px;
    position:absolute;
    top:53%;
    left:40px;
}
.date-banner .number,.date-banner .month{
    list-style-type: none;
    font-size: 30px;
    font-weight: 700;
}
.date-banner .month{
    font-size: 20px;
    font-weight: 500;
    margin-top:5px;
}
.aside-content{
    flex:0 1 34%;
    /* border:2px solid grey; */
    height:2000px;
    align-self: flex-start;
}
.full-articles{
    flex:0 1 64%;
    /* border:2px solid blue; */
    align-self: flex-start;
}
.article-common{
    position:relative;
    margin-top:50px;
    background-color: white;
    /* border:2px solid pink; */
}
.margin-top-remove{
    margin-top: 0px;
}
.article-heading{
    font-size:25px;
    font-weight: 700;
    padding: 60px 30px 0px 30px;
    color:#1c2c47;
}
.article-para{
    font-size: 15px;
    line-height: 1.7;
    padding:20px 30px 40px 30px;
    color:#526373;
    font-weight: 600;
}
.add-icons{
    padding-bottom:30px;
}
.add-icons span{
    margin-left:30px;
    color:#aeaeae;
}
.add-icons .article-icon{
    margin-right:10px;
    font-size:12px;
}
.article-icon2{
    border-left: 2px solid rgb(58, 58, 58);
    padding-left:20px;
}
.add-icons li{
    font-size:12px;
    font-weight: 600;
}
.search-keyword{
    padding:30px 15px 30px 30px;
    background-color: #fbf9ff;
}
.search-keyword .name{
    width:80%;
    height:34px;
    margin-bottom:20px;
    border:none;
    border:1px solid #e2e2e2;
}
.search-keyword .search-button{
    width:98%;
    height:34px;
    background-color: white;
    color:#fd656b;
    border:none;
    border:1px solid #fd656b;
    padding:15px 0px 30px 0px;
    font-weight:500;
}
.search-keyword .search-icon-btn{
    width:15%;
    height:40px;
    background-color: #fd656b;
    margin-left:-5px;
    
}
.search-keyword .search-icon-btn i{
    color:white;
    font-size: 16px;
}
.search-btn{
    border:none;
}
.search-btn:focus{
    outline:none;
}
.search-keyword .padding-down{
    margin-bottom:40px !important;
}
/* category styles */
.category{
    margin:20px 0px;
    background-color: #f8f5ff;
    /* border:2px solid pink; */
    padding:20px 0px;
}
.category li a{
    color:#5f6e7e;
    
}
.category .sub-heading{
    font-size:20px;
    font-weight:600;
}
.category li{
    border-bottom:1px solid #f1eaff;
    padding:15px 30px;
    margin-bottom:10px;
}
.category .give-margin{
    margin-bottom:40px;
}
/* recent post styles */
.recent-post{
    margin:20px 0px;
    background-color: #f8f5ff;
    /* border:2px solid pink; */
    padding:20px 0px;
}
.recent-post-img{
    flex:0 1 25%;
}
.recent-post-text{
    flex:0 1 68%;
}
.recent-post-text .heading2{
    margin-bottom:10px;
    font-size: 18px;
    font-weight:600;
    color:#424d61;
}
.recent-post-date{
    color:#657483;
}
.recent-post li:nth-child(1){
    border-bottom:1px solid #f1eaff;
    padding:10px 0px 10px 30px;
    margin:10px 0px;
    font-weight:600;
}
.recent-post li{
    padding:15px 30px 5px 30px;
    /* margin-bottom:1px; */
}
/* tag clouds ssectio styles */

.flex-wrap{
    flex-wrap:wrap;
    
}
.tag-clouds-section{
    background-color: #fbf9ff;
    padding:10px 20px;
}
.tag-clouds li{
    flex:0 1 20%;
    margin:10px 5px 10px 5px;
    border:1px solid grey;
    padding:5px 10px 5px 10px ;
    text-align: center;
    background-color: white;
    font-size:12px;
    color:#626262;
}
.tag-clouds-section .sub-heading{
    border-bottom:1px solid #f1eaff;
    margin-bottom:30px;
    padding:10px 0px 10px 10px;
    font-weight:600;
}
/* instagram feed styles */
.insta-feed-section{
    background-color: #fbf9ff;
    margin-top:20px;
}

.insta-feed{
    padding:20px;
}
.insta-feed li{
    flex:0 1 25%;
    margin-top: 5px;
    margin-left:5px;   
}
.search-keyword .name2{
    width:96%;
}
.search-keyword-2{
    margin-top:20px;
}
/*common styles for aside header headings*/
.insta-feed-section p:nth-child(1){
    border-bottom:1px solid #f1eaff;
    padding:20px 0px 10px 30px;
    margin:10px 0px;
    font-weight:600;
}
.search-keyword p:nth-child(1){
    border-bottom:1px solid #f1eaff;
    padding:20px 0px 10px 5px;
    margin:10px 0px;
    font-weight:600;
}
/* pagination styles */
.pagination li{
    border:2px solid #e2e2e2;
    list-style-type: none;
    padding:22px;
    margin-left:5px;
}
.pagination li a{
    color:#9e9b9b;
}
.pagination{
    padding:100px 0px;
}