/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styles */
*,*::after,*::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.big-container{
    max-width:1620px;
    margin:0px auto;
    /* border:2px solid pink; */
    padding:20px 0;
}
.common-container{
    max-width:1400px;
    /* border:2px solid white; */
}
.flex{
    display:flex;
    align-items:center;
}
.justify-center{
    justify-content: space-around;
}
.justify-content{
    justify-content: space-between;
}
.align-items{
    align-self: center;
}
.align-center-columnwise{
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.align-center-columnwise2{
    justify-content: center;
    flex-direction: column;
}
.align-item-center{
    justify-content: space-between;
    align-items: center;
}
.btn{
    background-color: #fd656b;
    color:white;
    padding:5px 0px;
    border-radius: 5px;
    font-weight:700;
    outline: none;
    border: 0;
}
.btn-1 {
    padding:15px 45px;
}
.btn-4{
    background-color: transparent;
    color: #fd656b;
    border: 2px solid #fd656b;
}
.btn-3{
    color:#fd656b;
    border: 2px solid #fd656b;
    background-color: transparent;
    width:0 auto;
}

.btn-padding{
    padding:15px 40px;
}
.btn-padding2{
    padding:15px 60px;
}
.small-container{
    max-width:1100px;
    margin:0px auto;
    /* border:2px solid rgb(5, 106, 124); */
    
}
.text-align{
    text-align:center;
}

/*notice header styles*/
.notice{
    background-color: #012d5b;
 
}
.banner-list li{
    margin-right:50px;
}
.nav-bar li{
    margin-left:30px;
}
.notice i{
    color:white;
}
.notice li a {
    text-decoration:none;
    color:white;
    font-size:14px;
}
.icon-right-margin{
    margin-right:10px;
}
/* header styles */
.header{
    /* padding:0px 0px 15px 0px ; */
}
.header-nav-bar li{
    margin-left:40px;
}
.header-nav-bar li:nth-child(7){
    margin-left:60px;
    
}
.btn-1 a{
    color:white !important;
}

.header-nav-bar li a{
    text-decoration:none;
    color:#012d5b;
    font-size: 15px;
    font-weight:600;
}
/* hero section styles */

.hero-background{
    background: url("../hero/h1_hero.jpg") no-repeat;
    background-size:cover;
    height:800px;
    position:relative;
    background-position: center;
    
}
.welcome{
    font-size:20px;
    color:#fd656b;
}
.hero-heading{
    font-size: 70px;
    text-transform: uppercase;
    color:#012d5b;
    font-weight: 700;
    width:40%;
    padding:22px 0 42px 0;
}
.btn-2{
    color:white;
}
.hero-wrapper{
    position:absolute;
    left:20%;
    top:30%;
}
.hero-wrapper h1{
    min-width:550px;

}
/*common boxes styles*/
.box{
    flex:0 1 30%;
    /* border: 2px solid green; */
    align-self: flex-start;
    /* padding:30px 0; */
}
/* business section */
.business{
    background-color: #f6f9fe;
    padding:100px 0px;
}

.article-img img{
   max-width:100%;
}
.box-1-2 img{
    min-width:30%
}
.box-1-3{
    border:3px solid #fd656b;
    padding:20px;
    background-color: #ffffff;
    /* overflow-y: auto;
    height:400px; */
}
.sub-heading{
    font-size: 25px;
    font-weight: 700;
    padding:20px 0;
    color:#191d34
}
.sub-para{
    color:#828f9b;
    line-height: 1.4;
}
.heading{
    color:#191d34;
    font-size:45px;
    font-weight: 700;
    line-height:1.4;
}
.line{
    width:30%;
    height:3px;
    background-color: #fd656b;
    margin: 20px 0 25px 0;
}
.arrow{
    color:#424558;
}
.view-more{
    margin-right:5px;
    padding:10px 0px;
    color:#424558;
}
/* trust section */

.trust-img{
    max-width:50%;
    background: url("../team/wetrusted.jpg") no-repeat;
    /* border:2px solid blue; */
    height:500px;
    background-position: center;
    background-size: cover;
}
.trust{
    position:relative;
    padding: 150px 0 50px 0;
}
.trust-text{
    position:absolute;
    width:30%;
    background-color:#ffffff85;
    padding:25px;
    top:38%;
    left:45%;
    overflow:hidden;
    /* border:2px solid blue; */
}
.trust-text .heading{
    padding:20px 0px;
    font-size:40px;

}
.trust-text .sub-para{
    padding:10px 0px 30px 0px;
    line-height: 1.6;
    color:#4d5a69;
  
}
/* our services section */
.center-flex{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.services .sub-para,.services .heading{
    text-align: center;
}
.service-padding{
    padding:100px 0px;
}
.button-three{
    display: inline-block;
    padding:150px 0;

}
.services .box{
    flex:0 1 25%;
}
.services .box .fas{
    font-size: 50px;
    color:black;
}
.services .service-padding2{
    padding:100px 0;
}
/* completed cases */
.completed-cases{
    background-color: #f6f9fe;
}
.right-container{
    width:80%;
    margin:0 0 0 20%;
    padding:150px 0;
}
.left-aside{
    /* border:2px solid blue; */
    flex:0 1 35%;
}
.right-aside{
    /* border:2px solid rgb(97, 5, 33); */
    flex:0 1 60%;
}
.right-aside .frame-1{
    background: url("../cases/completed_case_2.png") no-repeat;
}
.right-aside .frame-2{
    background: url("../cases/completed_case_1.png") no-repeat;
    
}
.right-aside .frame-3{
    background: url("../cases/completed_case_2.png") no-repeat;
    height:400px;
    flex:0 1 6%;
    background-size:cover;
}
.right-aside .frame{
    height:400px;
    flex:0 1 45%;
    background-position: center;
    background-size:cover;
}
.para-padding{
    padding:20px 0 40px 0;
}
/* testimonals styles */
.testimonals{
    padding:150px 0;
}
.testimonal-img{
    display: inline-block;
}
.testimonals .statement{
    color:#191d34;
    font-size:20px;
    width:50%;
    text-align:center;
    padding:40px 0px 10px 0px;
    font-weight: 500;

}
.star-group .fas{
    color:#fbba42;
    padding:20px 0px;
    margin-left:2px;
}
.founder h2{
    color:#274153;
    font-weight:600;

}
.founder p{
    color:#8c8c8c;
    font-weight:600;
}
/* recent news section */
.news-sub-heading{
    color:#fd656b;
    font-size: 10px;
    padding:20px 0;
}
.news-sub-para{
    color:#191d34;
    width:70%;
    padding:5px 0;
    line-height: 1.5;
    font-weight:600;
}
.date{
    color:#c4ceda;
    font-size: 10px;
    font-weight:500;
}
.clearance{
    margin-left:20px;
}
.news-padding{
    padding:0px 0px 50px 0px;
}
.news-padding-bottom{
    padding-bottom:200px;
}
/* form section */
.forms{
    /* height:500px; */
    background-color:#012d5b;
}
.box-3-1{
    flex:0 1 30%;
    align-self:flex-start;
}
.box-3-2{
    flex:0 1 55%;
    align-self:flex-start;
}
.box-3-2 .name, .box-3-2 .phone{
    flex:0 1 45%;
    padding:15px 0px;
    margin-bottom: 30px;
}
.box-3-2 .name{
    flex:0 1 46%;
    
}
.box-3-2 .phone{
    flex:0 1 46%;
}
.box-3-2 .services{
    flex:0 1 70%;
    padding:15px 0px;
    margin-right:4%;
    background-color:transparent;
    border:2px solid #2b4c6d;
    color:#748595;
}
.box-3-2 input{
    background-color:transparent;
    border:0;
    color:white;
    border:2px solid #2b4c6d;
    border-radius:5px;
}
.box-3-2 input::placeholder{
    color:white;
    padding-left:10px;
}
.box-3-2 .btn-3{
    flex:0 1 20%;

}
.clearance2{
    padding:100px 0px;
}
.add-heading-styles{
    font-size:40px;
    line-height:1.4;
    color:white;
    font-weight: 700;
    margin-bottom:20px;
}
.add-para-styles{
    line-height:1.4;
    color:white;
}
/* footer styles */
.footer .logos a ,.footer .col a{
    text-decoration: none;
    color:black;
}
.footer .logos,.footer .col{
    flex:0 1 20%;
    align-self: flex-start;
}
.footer .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-section{
    padding:150px 0 50px 0;
    margin-left:0px;
}
.footer-section li{
    margin-bottom: 25px;
    font-size: 15px;   
}
.footer-section .col-1{
    margin-left: 100px;
}
.col li p{
    color: #02305f;
    font-size:20px;
    font-weight: 600;
   
}
.col li a,.col address{
    color:#9a9fa9 !important;
}

.logos p{
    color:#8a8d94 ;
    padding:30px 0;
    line-height: 1.5;
}
.logos li a i{
    font-size:20px;
    margin-left:-25px;
}
.logos .nav-bar{
    margin-top:20px;
}
.bottom-line{
    width:100%;
    height:0.5px;
    background-color: rgb(185, 207, 221);
    margin:20px 0 20px 0;
}
.pink-color,.pink-color a{
    text-decoration: none;
    color:#fd656b;    
}
.pink-color{
    font-size: 18px;
}
.text-align p{
    font-size: 15px;
    color:#8a8d94
}
.padding-up-down{
    padding:30px 0 40px 0;
}
.footer .col{
    align-self: flex-start!important;
}
.col .footer-headings{
    margin-bottom: 50px;
}
/* services page styles */

.services-full-section{
    background:url("../hero/services_hero.jpg") no-repeat;
    height: 300px;
    border:2px solid grey;
}
/* contacts page styles  */
.services-container-section{
    background:url("../hero/services_hero.jpg") no-repeat;
    height: 300px;
    border:2px solid grey;
}
.contact-container-section{
    background:url("../hero/contact_hero.jpg") no-repeat;
    height: 300px;
    /* border:2px solid grey; */
}
.contact-full-container{
	/* border:2px solid grey; */
	max-width:1080px;
	margin:0px auto;
}
.contact-full-container .sub-heading{
	padding-bottom: 0px;
}
.contact-form .contact-maps-img{
	display: inline-block;
}
.contact-maps 

.contact-maps-img{
	max-width: 100%;
}
.contact-form .contact-maps{
	margin:150px 0 100px 0;
}
.contact-form-list li{
	margin-bottom:20px;
}
.contact-form-list li i{
	font-size: 30px;
	color:rgb(163, 163, 163);
}
.contact-form-inputs{
	flex:0 1 70%;
	padding:30px;
	align-self: flex-start;
}
.contact-form-list{
	flex:0 1 20%;
	padding:20px;
	align-self: flex-start;
}
.contact-form-list address div{
	margin-top:10px;
	color:#949494;
}
.contact-form-list address{
	margin-bottom:30px;
}
.contact-form-list address span{
	color:#2d2d2d;
	font-size: 20px;
	font-weight: 600;
}
.contact-form-inputs .name{
	width:47%;
	padding:10px 0;
	margin:20px 0;
}
.contact-form-inputs .email{
	width:47%;
	padding:10px 0;
	margin-left:5%;
}
.contact-form-inputs .subject{
	width:100%;
	padding:10px 0;
}
.contactform-icon{
	margin-right:20px;
	margin-top:-40px;
}
.padding-left{
	margin-left:30px;
}
.contact-form-inputs .btn-3{
	margin:50px 0px 100px 0px;
}
.contact-form-inputs .text-area{
	border:none;
	color:grey;
	padding-left:20px;
    border:1px solid rgb(200, 200, 200); 
}
.contact-form-inputs input{
	
	border:1px solid rgb(200, 200, 200);
}
.contact-form-inputs input::placeholder{
	padding-left:20px;
}
/* cases page styles  */
/*container to chance background image*/
.cases-container-section{
    background:url("../hero/cases_hero.jpg") no-repeat;
    height: 300px;
    /* border:2px solid grey;*/
} 
.cases-form{
    background-color: #f8fafe;
}
.all-cases-img{
    max-width:1200px;
    padding:180px 0 280px 0;
    margin: 0px auto;
}
.cases-form li{
    flex:0 1 31%;
}
.cases-form .row-1-1{
    background:url("../cases/completed_case_1.png") no-repeat;
    height: 400px;
    background-size:cover;
}
.cases-form .row-1-2{
    background:url("../cases/completed_case_2.png") no-repeat;
    height: 400px;
    background-size:cover;
}
.cases-form .row-1-3{
    background:url("../cases/completed_case_3.png") no-repeat;
    height: 400px;
    background-size:cover;
}
.cases-form .row-2-1{
    background:url("../cases/completed_case_4.png") no-repeat;
    height: 400px;
    background-size:cover;
}
.cases-form .row-2-2{
    background:url("../cases/completed_case_5.png") no-repeat;
    height: 400px;
    background-size:cover;
}
.cases-form .row-2-3{
    background:url("../cases/completed_case_6.png") no-repeat;
    height: 400px;
    background-size:cover;
}
.cases-form .row-common{
    margin-top:40px;
}
.cases-form .side-banner h2{
    font-size: 20px;
    padding:5px;
    color:#191d34;
}
.cases-form .side-banner p{
    font-size: 15px;
    padding:5px;
    color:#606f7f;
}
.cases-form .row-common{
    align-self: flex-end;
    position: relative;
}
.cases-form .side-banner{
    background-color: white;
    width:75%;
    padding:10px;
    position: absolute;
    top:75%;
}
/* blog page styles */


.blog-container-section{
    max-width:1920px;
    background:url("../hero/blog_hero.jpg") no-repeat;
    height: 300px;
    /* border:2px solid grey; */
}
.flex-box{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.about-hero .heading{
    color:white;
    font-size:50px;
    /* border:2px solid green; */
}
/* articles page styles */
.blog-articles-section{
   
    /* border:2px solid green; */
    background-color:#ffffff;
}
.blog-article{
    padding-top:100px;
}
.article-img-1{
    /* max-width:100%; */
    background: url("../blog/blog_1.png") no-repeat;
    background-size:cover;
    height:400px;
    background-position: center;
}
.article-img-2{
    /* max-width:100%; */
    background: url("../blog/blog_2.png") no-repeat;
    background-size:cover;
    height:400px;
    background-position: center;
}
.article-img-3{
    /* max-width:100%; */
    background: url("../blog/blog_3.png") no-repeat;
    background-size:cover;
    height:400px;
    background-position: center;
}
.article-img-4{
    /* max-width:100%; */
    background: url("../blog/blog_4.png") no-repeat;
    background-size:cover;
    height:400px;
    background-position: center;
}
.article-img-5{
    /* max-width:100%; */
    background: url("../blog/blog_5.png") no-repeat;
    background-size:cover;
    height:400px;
    background-position: center;
}
.article-common{
    box-shadow: 0px 5px 10px 4px rgb(240, 240, 240);
}
.date-banner{
    width:50px;
    height:50px;
    background-color: #fd656b;
    color:white;
    padding:20px 20px;
    border-radius: 5px;
    position:absolute;
    top:53%;
    left:40px;
}
.date-banner .number,.date-banner .month{
    list-style-type: none;
    font-size: 30px;
    font-weight: 700;
}
.date-banner .month{
    font-size: 20px;
    font-weight: 500;
    margin-top:5px;
}
.aside-content{
    flex:0 1 34%;
    /* border:2px solid grey; */
    height:2000px;
    align-self: flex-start;
}
.full-articles{
    flex:0 1 64%;
    /* border:2px solid blue; */
    align-self: flex-start;
}
.article-common{
    position:relative;
    margin-top:50px;
    background-color: white;
    /* border:2px solid pink; */
}
.margin-top-remove{
    margin-top: 0px;
}
.article-heading{
    font-size:25px;
    font-weight: 700;
    padding: 60px 30px 0px 30px;
    color:#1c2c47;
}
.article-para{
    font-size: 15px;
    line-height: 1.7;
    padding:20px 30px 40px 30px;
    color:#526373;
    font-weight: 600;
}
.add-icons{
    padding-bottom:30px;
}
.add-icons span{
    margin-left:30px;
    color:#aeaeae;
}
.add-icons .article-icon{
    margin-right:10px;
    font-size:12px;
}
.article-icon2{
    border-left: 2px solid rgb(58, 58, 58);
    padding-left:20px;
}
.add-icons li{
    font-size:12px;
    font-weight: 600;
}
.search-keyword{
    padding:30px 15px 30px 30px;
    background-color: #fbf9ff;
}
.search-keyword .name{
    width:80%;
    height:34px;
    margin-bottom:20px;
    border:none;
    border:1px solid #e2e2e2;
}
.search-keyword .search-button{
    width:98%;
    height:34px;
    background-color: white;
    color:#fd656b;
    border:none;
    border:1px solid #fd656b;
    padding:15px 0px 30px 0px;
    font-weight:500;
}
.search-keyword .search-icon-btn{
    width:15%;
    height:40px;
    background-color: #fd656b;
    margin-left:-5px;
    
}
.search-keyword .search-icon-btn i{
    color:white;
    font-size: 16px;
}
.search-btn{
    border:none;
}
.search-btn:focus{
    outline:none;
}
.search-keyword .padding-down{
    margin-bottom:40px !important;
}
/* category styles */
.category{
    margin:20px 0px;
    background-color: #f8f5ff;
    /* border:2px solid pink; */
    padding:20px 0px;
}
.category li a{
    color:#5f6e7e;
    
}
.category .sub-heading{
    font-size:20px;
    font-weight:600;
}
.category li{
    border-bottom:1px solid #f1eaff;
    padding:15px 30px;
    margin-bottom:10px;
}
.category .give-margin{
    margin-bottom:40px;
}
/* recent post styles */
.recent-post{
    margin:20px 0px;
    background-color: #f8f5ff;
    /* border:2px solid pink; */
    padding:20px 0px;
}
.recent-post-img{
    flex:0 1 25%;
}
.recent-post-text{
    flex:0 1 68%;
}
.recent-post-text .heading2{
    margin-bottom:10px;
    font-size: 18px;
    font-weight:600;
    color:#424d61;
}
.recent-post-date{
    color:#657483;
}
.recent-post li:nth-child(1){
    border-bottom:1px solid #f1eaff;
    padding:10px 0px 10px 30px;
    margin:10px 0px;
    font-weight:600;
}
.recent-post li{
    padding:15px 30px 5px 30px;
    /* margin-bottom:1px; */
}
/* tag clouds ssectio styles */

.flex-wrap{
    flex-wrap:wrap;
    
}
.tag-clouds-section{
    background-color: #fbf9ff;
    padding:10px 20px;
}
.tag-clouds li{
    flex:0 1 20%;
    margin:10px 5px 10px 5px;
    border:1px solid grey;
    padding:5px 10px 5px 10px ;
    text-align: center;
    background-color: white;
    font-size:12px;
    color:#626262;
}
.tag-clouds-section .sub-heading{
    border-bottom:1px solid #f1eaff;
    margin-bottom:30px;
    padding:10px 0px 10px 10px;
    font-weight:600;
}
/* instagram feed styles */
.insta-feed-section{
    background-color: #fbf9ff;
    margin-top:20px;
}

.insta-feed{
    padding:20px;
}
.insta-feed li{
    flex:0 1 25%;
    margin-top: 5px;
    margin-left:5px;   
}
.search-keyword .name2{
    width:96%;
}
.search-keyword-2{
    margin-top:20px;
}
/*common styles for aside header headings*/
.insta-feed-section p:nth-child(1){
    border-bottom:1px solid #f1eaff;
    padding:20px 0px 10px 30px;
    margin:10px 0px;
    font-weight:600;
}
.search-keyword p:nth-child(1){
    border-bottom:1px solid #f1eaff;
    padding:20px 0px 10px 5px;
    margin:10px 0px;
    font-weight:600;
}
/* pagination styles */
.pagination li{
    border:2px solid #e2e2e2;
    list-style-type: none;
    padding:22px;
    margin-left:5px;
}
.pagination li a{
    color:#9e9b9b;
}
.pagination{
    padding:100px 0px;
}
/*about page - hero section styles*/
.full-container-section{
    background:url("../hero/about_hero.jpg") no-repeat;
    height: 300px;
    border:2px solid grey;
}
.flex-box{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.about-hero .heading{
    color:white;
}
/*about page - trust section styles*/
.padding-reduce{
    padding-bottom:0px !important;
}